# **DATA ANALYSIS**

---

**Importing Basic Libraries**

In [0]:
import pandas as pd
import numpy as np

**Importing .CSV File**

In [0]:
df_csv = pd.read_csv("brand_details.csv",sep=",")

**Reading Columns In Dataset**

In [0]:
df_csv.columns

Index(['Rank', 'Brand', 'Brand_Value', 'Change_LastYr', 'Brand_Revenue',
       'Company_Advertising', 'Industry'],
      dtype='object')

**Reading Top Head Values**

In [0]:
df_csv.head()

   Rank      Brand  Brand_Value  ...  Brand_Revenue  Company_Advertising    Industry
0     1      Apple        145.3  ...          182.3                  1.2  Technology
1     2  Microsoft         69.3  ...           93.3                  2.3  Technology
2     3     Google         65.6  ...           61.8                  3.0  Technology
3     4  Coca-Cola         56.0  ...           23.1                  3.5   Beverages
4     5        IBM         49.8  ...           92.8                  1.3  Technology

[5 rows x 7 columns]

# **ASSINGMENT 1 - DATA ANALYSIS**

---

**Problem 1 - Which industry has the maximum brands whose Brand_Revenue > 80 Million (Brand revenue is in millions)**

**Count Total No. Of Values In Each Industry**

In [78]:
df_csv['Industry'].value_counts()

Technology                 13
Financial Services          9
Consumer Packaged Goods     8
Automotive                  7
Luxury                      4
Retail                      3
Beverages                   3
Media                       3
Telecom                     2
Apparel                     2
Restaurants                 2
Transportation              1
Leisure                     1
Business Services           1
Heavy Equipment             1
Name: Industry, dtype: int64

**Find Values With Brand_Revenue > 80 Million**

In [80]:
df_csv[df_csv['Brand_Revenue']>80]

    Rank            Brand  ...  Company_Advertising            Industry
0      1            Apple  ...                1.200          Technology
1      2        Microsoft  ...                2.300          Technology
4      5              IBM  ...                1.300          Technology
5      6        McDonalds  ...                0.808         Restaurants
6      7          Samsung  ...                3.800          Technology
7      8           Toyota  ...                3.800          Automotive
10    12             AT&T  ...                3.300             Telecom
11    13           Amazon  ...                3.300          Technology
17    20         Wal-Mart  ...                2.400              Retail
18    21          Verizon  ...                2.500             Telecom
20    23            Honda  ...                2.700          Automotive
25    35  Hewlett-Packard  ...                0.784          Technology
26    37       Home Depot  ...                2.300              Retail
28    41             Ford  ...                4.300          Automotive
30    47      Wells Fargo  ...                0.653  Financial Services
49    75           Nissan  ...                2.600          Automotive
52    81             Citi  ...                1.800  Financial Services

[17 rows x 7 columns]

**List Of Industries Having Maximum Brands**
***(Technology - 6)***

In [82]:
df_csv[df_csv['Brand_Revenue']>80]['Industry'].value_counts()

Technology            6
Automotive            4
Financial Services    2
Telecom               2
Retail                2
Restaurants           1
Name: Industry, dtype: int64

**Problem 2 - List the companiesd whose Company_Advertising budget is < 3 but Brand_Value is > 20**

In [85]:
df_csv[(df_csv['Company_Advertising']<3) & (df_csv['Brand_Value']>20)][['Brand','Brand_Value','Company_Advertising']]

        Brand  Brand_Value  Company_Advertising
0       Apple        145.3                1.200
1   Microsoft         69.3                2.300
4         IBM         49.8                1.300
5   McDonalds         39.5                0.808
8    Facebook         36.5                0.135
9      Disney         34.6                2.800
13      Cisco         27.6                0.196
14     Oracle         26.8                0.079
16      Intel         25.8                1.800
17   Wal-Mart         24.7                2.400
18    Verizon         24.5                2.500
20      Honda         22.6                2.700

**Problem 3 - Find out the top 5 Technology Brand that showed maximum positive jump in their position (Use Change_LastYr)**

**nlarget is use to give the data of Top-5 Technology Brands**

In [101]:
df_csv[(df_csv['Industry']=="Technology")][['Brand','Industry','Change_LastYr']].nlargest(5,['Change_LastYr'])

       Brand    Industry  Change_LastYr
8   Facebook  Technology             54
11    Amazon  Technology             32
33      Ebay  Technology             21
50      Sony  Technology             21
0      Apple  Technology             17

**Problem 4 - Find out the Average Brand_Revenue by Industry**

**By Using Mean Function For Average**

In [99]:
df_csv.groupby(['Industry'])['Brand_Revenue'].mean()

Industry
Apparel                     17.700000
Automotive                  97.385714
Beverages                   13.133333
Business Services           32.800000
Consumer Packaged Goods      7.175000
Financial Services          51.622222
Heavy Equipment             36.100000
Leisure                     26.400000
Luxury                       5.900000
Media                        9.200000
Restaurants                 51.900000
Retail                     156.266667
Technology                  80.238462
Telecom                    129.750000
Transportation              47.200000
Name: Brand_Revenue, dtype: float64

# **HARSH SAXENA**